body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

.container {
  max-width: 600px;
  margin: 6rem auto 2rem;
  padding: 1rem 2rem;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
}

label {
  display: block;
  margin: 15px 0 5px;
}

input,
select {
  font-size: 1rem;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.course-row {
  display: flex;
  align-items: center;
}

.course-row input[type="text"] {
  flex: 3;
  margin-right: 10px;
}

.course-row input[type="number"],
.course-row select {
  flex: 1;
  margin-right: 10px;
}

.course-row input[type="number"] {
  text-align: center;
}

.addOrRemove {
  display: flex;
  gap: 1rem;
}

.addOrRemove button {
  background-color: #007bff;
  font-weight: bold;
  font-size: 0.9rem;
}

.addOrRemove button:hover {
  background-color: #0272ea;
}

button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #40e0d0;
  color: #fff;
  font-weight: bolder;
  font-size: 1.1rem;
}

button:hover {
  background-color: #3dd2c3;
}

.output {
  margin-top: 1rem;
  padding: 1.2rem;
  font-weight: bold;
  background: #e7f3fe;
  border: 1px solid #007bff;
  border-radius: 4px;
  max-width: 600px;
  margin: 0 auto;
}
